<p>
    Leidt op voor EHBO diploma, reanimeren &amp; AED, EHBO bij kinderen en wandelletsel.
</p>
<div class="facebook">
    <iframe src="//www.facebook.com/plugins/like.php?app_id=115506305219278&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FEHBO-Hulst%2F183362285059359&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:90px;" allowTransparency="true"></iframe>
</div>
