---
title: In Memoriam
description:
date: 2010-11-09 18:44:59
---
<center>
  <div style="border: 1px solid black;">
    <div style="background-color: black; border: 1px solid white; color: white; width: 400px; padding: 10px; font-size: 14px">
      <p>
        Sandra Schelstraete
      </p>
      <p>
        *12-09-1957     +30-10-2010
      </p>
      <p>
        Bestuurslid en coördinator hulpverlening van onze vereniging.
      </p>
      <p>
        Sandra heeft een aantal jaren zich ingezet om de hulpverlening te coordineren, ondanks haar ziekte deed ze dit met volle inzet.
        We zullen haar erg missen.
      </p>
    </div>
  </div>
</center>
