---
title: AED locaties binnen de gemeente Hulst
description:
---
<table style="border-width: 0px" border="0" rules="GROUPS" frame="ABOVE" cellspacing="0" cellpadding="5" width="100%">
  <tbody>
    <tr valign="BOTTOM">
      <td>
      <p>
      Locatie
      </p>
      </td>
      <td>
      <p>
      Organisatie
      </p>
      </td>
      <td>
      <p>
      adres
      </p>
      </td>
      <td>
      <p>
      woonplaats 
      </p>
      </td>
      <td>
      <p>
      telefoonnr
      </p>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr valign="BOTTOM">
      <td>
      <p>
      Hal
      </p>
      </td>
      <td>
      <p>
      Gemeentehuis Hulst 
      </p>
      </td>
      <td>
      <p>
      Grote Markt 21
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-389000
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      ABN-AMRO
      </p>
      </td>
      <td>
      <p>
      ABN-AMRO
      </p>
      </td>
      <td>
      <p>
      Grote Markt 8
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-373237
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Hal
      </p>
      </td>
      <td>
      <p>
      Gemeentewinkel
      </p>
      </td>
      <td>
      <p>
      Grote Markt 24
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-389301
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Rabobank
      </p>
      </td>
      <td>
      <p>
      Rabobank
      </p>
      </td>
      <td>
      <p>
      Stationsweg
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Klantenbalie
      </p>
      </td>
      <td>
      <p>
      Em-Té
      </p>
      </td>
      <td>
      <p>
      Stationsplein 22 h
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-373320
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Karwei
      </p>
      </td>
      <td>
      <p>
      Karwei
      </p>
      </td>
      <td>
      <p>
      Stationsplein
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Stuntmarkt 
      </p>
      </td>
      <td>
      <p>
      Neckermann 
      </p>
      </td>
      <td>
      <p>
      Abdaalseweg 5/11
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-315474
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Stadsschuur
      </p>
      </td>
      <td>
      <p>
      Gemeentewerken
      </p>
      </td>
      <td>
      <p>
      Abdaalseweg 44
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-389224
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Morres Meubel
      </p>
      </td>
      <td>
      <p>
      Morres meubel
      </p>
      </td>
      <td>
      <p>
      Industrieweg 2
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-388388
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      &nbsp;
      </p>
      </td>
      <td>
      <p>
      Privébezit
      </p>
      </td>
      <td>
      <p>
      Steensedijk 29
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-314359
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Politiebureau
      </p>
      </td>
      <td>
      <p>
      Politie Hulst
      </p>
      </td>
      <td>
      <p>
      vd Maelstedeweg
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Rodekruisgebouw
      </p>
      </td>
      <td>
      <p>
      EHBO Hulst
      </p>
      </td>
      <td>
      <p>
      Tabakstraat 26 
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-310790
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Den Dullaert
      </p>
      </td>
      <td>
      <p>
      St. Den Dullaert
      </p>
      </td>
      <td>
      <p>
      Sportlaan 24
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-314351
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Huisartsenpost
      </p>
      </td>
      <td>
      <p>
      Pallion
      </p>
      </td>
      <td>
      <p>
      Blauwe Hofke 100
      </p>
      </td>
      <td>
      <p>
      Hulst
      </p>
      </td>
      <td>
      <p>
      0114-313131
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Linex
      </p>
      </td>
      <td>
      <p>
      Linex
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
      <td>
      <p>
      Hulst/St. Janst
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Warande 
      </p>
      </td>
      <td>
      <p>
      EHBO ST. Jansteen
      </p>
      </td>
      <td>
      <p>
      Wilhelminastraat 43
      </p>
      </td>
      <td>
      <p>
      St. Jansteen
      </p>
      </td>
      <td>
      <p>
      0114-315014
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Voetbal
      </p>
      </td>
      <td>
      <p>
      Voetbal Steen
      </p>
      </td>
      <td>
      <p>
      Badhuisweg
      </p>
      </td>
      <td>
      <p>
      St. Jansteen
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Portiersloge
      </p>
      </td>
      <td>
      <p>
      Neckermann.com 
      </p>
      </td>
      <td>
      <p>
      de Verrekijker 2
      </p>
      </td>
      <td>
      <p>
      St. Jansteen
      </p>
      </td>
      <td>
      <p>
      0114-318355
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Arek
      </p>
      </td>
      <td>
      <p>
      Arek
      </p>
      </td>
      <td>
      <p>
      Roskamstraat
      </p>
      </td>
      <td>
      <p>
      St. Jansteen
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Malpertuus
      </p>
      </td>
      <td>
      <p>
      EHBO Clinge
      </p>
      </td>
      <td>
      <p>
      Malpertuuslaan 6
      </p>
      </td>
      <td>
      <p>
      Clinge
      </p>
      </td>
      <td>
      <p>
      0114-314114
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Entrée Rabobank
      </p>
      </td>
      <td>
      <p>
      EHBO Graauw
      </p>
      </td>
      <td>
      <p>
      Dorpstraat 44
      </p>
      </td>
      <td>
      <p>
      Graauw
      </p>
      </td>
      <td>
      <p>
      0114-635157
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      De Kauter
      </p>
      </td>
      <td>
      <p>
      De Kauter
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
      <td>
      <p>
      Nieuw-Namen
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Dorpscentrum Vgw
      </p>
      </td>
      <td>
      <p>
      EHBO Vogelwaarde
      </p>
      </td>
      <td>
      <p>
      Populierenstraat 41
      </p>
      </td>
      <td>
      <p>
      Vogelwaarde
      </p>
      </td>
      <td>
      <p>
      0114-671762
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      &nbsp;
      </p>
      </td>
      <td>
      <p>
      Dorpsraad VGW
      </p>
      </td>
      <td>
      <p>
      Populierenstraat 39
      </p>
      </td>
      <td>
      <p>
      Vogelwaarde
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Dorpshuis Terhole
      </p>
      </td>
      <td>
      <p>
      EHBO Terhole
      </p>
      </td>
      <td>
      <p>
      Vlietstraat 2
      </p>
      </td>
      <td>
      <p>
      Terhole
      </p>
      </td>
      <td>
      <p>
      0114-314411
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      "de Schuur"
      </p>
      </td>
      <td>
      <p>
      St. Dorpscentrum 
      </p>
      </td>
      <td>
      <p>
      Kievitstraat 26
      </p>
      </td>
      <td>
      <p>
      Hengstdijk
      </p>
      </td>
      <td>
      <p>
      0114-681793 
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      "de Luifel"
      </p>
      </td>
      <td>
      <p>
      EHBO Lamswaarde
      </p>
      </td>
      <td>
      <p>
      Dreef 2
      </p>
      </td>
      <td>
      <p>
      Lamswaarde
      </p>
      </td>
      <td>
      <p>
      0114-690479
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Rozenhof
      </p>
      </td>
      <td>
      <p>
      EHBO Kloosterzande
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
      <td>
      <p>
      Kloosterzande
      </p>
      </td>
      <td>
      <p>
      0114-681748
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Wit-gele Kruisgeb
      </p>
      </td>
      <td>
      <p>
      EHBO Kloosterzande
      </p>
      </td>
      <td>
      <p>
      Marijkeplein 7
      </p>
      </td>
      <td>
      <p>
      Kloosterzande
      </p>
      </td>
      <td>
      <p>
      0114-681748
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Schildersbedrijf
      </p>
      </td>
      <td>
      <p>
      De Schrijver
      </p>
      </td>
      <td>
      <p>
      Hulsterweg 75 h
      </p>
      </td>
      <td>
      <p>
      Kloosterzande
      </p>
      </td>
      <td>
      <p>
      0114-690231
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Sporthal/zwembad
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
      <td>
      <p>
      Emmastraat
      </p>
      </td>
      <td>
      <p>
      Kloosterzande
      </p>
      </td>
      <td>
      <p>
      0114-681307
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Pabo
      </p>
      </td>
      <td>
      <p>
      Pabo
      </p>
      </td>
      <td>
      <p>
      Walsoordensestr 55
      </p>
      </td>
      <td>
      <p>
      Walsoorden
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Pabo
      </p>
      </td>
      <td>
      <p>
      Pabo
      </p>
      </td>
      <td>
      <p>
      Walsoordensestr 70
      </p>
      </td>
      <td>
      <p>
      Walsoorden
      </p>
      </td>
      <td>
      <p>
      &nbsp;
      </p>
      </td>
    </tr>
    <tr valign="BOTTOM">
      <td>
      <p>
      Hof ter Nese
      </p>
      </td>
      <td>
      <p>
      Hof ter Nesse
      </p>
      </td>
      <td>
      <p>
      Kipstraat 12
      </p>
      </td>
      <td>
      <p>
      Ossenisse
      </p>
      </td>
      <td>
      <p>
      0114-682869
      </p>
      </td>
    </tr>
  </tbody>
</table>
