---
title: Algemene mededelingen
description:
---
<p>
Het secretariaat kunt u als volgt bereiken: via e-mail ehbohulst@gmail.com<br />
Of via het postadres: den Walhoeck 6, 4564 DE &nbsp;St. Jansteen Telefoon: 06-53 67 27 36&nbsp;
</p>
<p>
<b><u>
Hoeveel lesuren</u></b> bijscholing moeten gediplomeerden volgen om voor verlenging van het diploma in aanmerking te komen? De instructeur en de arts-docent moeten gezamenlijk bepalen of een cursist competent is en zijn diploma verlengd kan worden. Daarin verandert er naar de oude situatie niets. Enkel het uren &nbsp; &nbsp;criterium is komen te vervallen en er moet dus inhoudelijk (kennis/vaardigheden/ attitude/ gedrag) onderzocht worden of iemand competent is. Dat kan door een test gedurende bijscholingsbijeenkomsten (herhalingslessen).
</p>
<p>
<b><u>Volgt u elders lessen</u></b> in het kader van EHBO en/of BHV dan zullen wij deze als zijnde gevolgde les accepteren. Daarvoor dient u een half jaar voor de vervaldatum van uw diploma een getekende verklaring van een &lsquo;erkende&rsquo; docent te overleggen met vermelding van de gevolgde lessen (data + onderwerp).
</p>
<p>
<b><u>
Cursuskosten</u></b> Het cursusgeld voor de opleidingscursus bedraagt &euro; 170,00.<br />
U ontvangt een nota met een uiterste betaaldatum.&nbsp;
</p>
<p>
<b><u>
De contributie</u></b>, is vastgesteld op &euro; 20,00 per kalenderjaar. U ontvangt een nota met een uiterste betaaldatum. Bankrekeningnummer 33.00.000.845
</p>
<p>
<b><u>
Buffet</u></b>, bij de aanvang van de cursussen verkopen wij consumptiebonnen, 10 stuks voor &euro; 6,00, zodat we tijdens de pauze u snel kunnen voorzien van koffie, thee, sinas, cola of spa.
</p>
<p>
<b><u>
Ledenadministratie</u></b>:
</p>
<ul>
	<li>wijzigingen in naam en/of adres dient u zo spoedig mogelijk door te geven aan het secretariaat.</li>
	<li>be&euml;indiging lidmaatschap dient u schriftelijk kenbaar te maken bij het secretariaat.</li>
</ul>
<p>
<b><u>
Collecte</u></b>, 17 t/m 21 oktober 2011 is het weer zover, we kunnen nog wat&nbsp;helpende handjes gebruiken.&nbsp;<br />
Aanmelden als collectant bij:<span style="white-space: pre" class="Apple-tab-span">	</span>Mw. C. Menu &iuml;&euro;&sect; 0114-310190.&nbsp;
</p>
<p>
&nbsp;&nbsp;<a href="images/stories/programmaboeken/2011/ALGEMENE%20MEDEDELINGEN.pdf" target="_blank" title="Algemene mededelingen als pdf" class="jce_file"><img src="images/ext/pdf_small.gif" title="pdf" alt="pdf" border="0" />&nbsp;Algemene mededelingen als pdf</a>
</p>
